
.container-courseList{
    /* border: 1px solid black; */
    margin-top: 100px;
}
.courseList-sidebar{
    /* text-align: start; */
    width: 250px;
    /* margin-left: 50px; */
    text-decoration: none;
}
.courseList-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #3a6cf7;
}
.list-group{
    
}