.option-btn{
    margin-top: 100px;
}
.login-btn{

    width: 300px;
    height: 40px;
    /* border: 1px solid rgb(123, 123, 237); */
    box-shadow: 6px 2px 1px rgb(112, 225, 240);
    border-radius: 13px;
    text-decoration: none;
    background-color: #f2c6f2;
}