.navbar{
    /* border: 1px solid blue; */
    box-shadow: 2px 2px 20px rgb(73, 226, 237);
}
.menu-items{
    border: 1px solid blue;
    margin-right: 220px;
}
.nav-items{
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    font-size: large;
    letter-spacing: 1px;
    margin-right: 40px ;
    color: rgb(244, 15, 198);
    font-size: large;
    text-transform: uppercase;
}
.navbar-1{
    background: linear-gradient( rgb(234, 249, 203),rgb(227, 226, 231),rgb(239, 235, 241), rgb(230, 239, 172));
}
.header-name{
    color: rgb(244, 15, 198);
    font-size: 35px;
    font-weight: 700;
}
.header-name .board{
    color: black;
    font-size: 20px;

}
.icon-name{
    justify-content: center;

}